<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>

<plugin
   id="org.dotplot.plugin"
   name="Matrix4.plot"
   version="2.1.1"
   provider-name="Matrix4.plot Team CS@FH-Giessen Germany"
   class="org.dotplot.eclipse.DotplotPlugin"
   singleton="true">

   <runtime>
      <library name="plugin.jar"/>
      <library name="lib/jai_codec.jar"/>
      <library name="lib/jai_core.jar"/>
      <library name="lib/jai_mlibwrapper.jar"/>
      <library name="lib/log4j-1.2.8.jar"/>
      <library name="lib/iText.jar"/>
      <library name="lib/org.pdfbox.jar"/>
      <library name="lib/activation.jar"/>
      <library name="lib/mail.jar"/>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.compare"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.text"/>
   </requires>

   <extension
         id="DotplotApplication"
         name="Dotplot Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.dotplot.eclipse.DotplotApplication"/>
      </application>
   </extension>
   <extension
         id="Dotploter"
         name="Dotplot Product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.dotplot.plugin.DotplotApplication"
            description="Dotplot"
            name="Matrix4.plot">
         <property
               name="windowImages"
               value="icons/dp_32.gif"/>
      </product>
   </extension>

   <extension
      point="org.eclipse.ui.perspectives">
      <perspective
         name="DotPlot"
         icon="icons/dp_v0_73.gif"
         class="org.dotplot.eclipse.perspective.DotPlotPerspective"
         id="org.dotplot.plugin.perspective1">
      </perspective>
   </extension>

   <extension
      point="org.eclipse.ui.views">
      <category
         name="DotPlot"
         id="org.dotplot.plugin.category1">
      </category>
      <view
         name="DotPlotter"
         icon="icons/dp_v0_73.gif"
         category="org.dotplot.plugin.category1"
         class="org.dotplot.eclipse.views.DotPlotter"
         id="org.dotplot.plugin.view1">
      </view>
      <view
         name="DotPlot Navigator"
         icon="icons/dp_navi_v0_11.gif"
         category="org.dotplot.plugin.category1"
         class="org.dotplot.eclipse.views.DotPlotNavigator"
         id="org.dotplot.plugin.view2">
      </view>
      <view
         name="DotPlot List"
         icon="icons/dp_list_v0_63.gif"
         category="org.dotplot.plugin.category1"
         class="org.dotplot.eclipse.views.DotPlotLister"
         id="org.dotplot.plugin.view3">
      </view>
      <view
         name="Diff @ DotPlot"
         icon="icons/dp_list_v0_63.gif"
         category="org.dotplot.plugin.category1"
         class="org.dotplot.eclipse.views.MergeView"
         id="org.dotplot.merger">
      </view>
   </extension>

   <extension
      point="org.eclipse.ui.actionSets">
      <actionSet
         label="DotPlot"
         visible="true"
         id="org.dotplot.plugin.actionSet1">
         <menu
            label="&amp;DotPlot"
            id="org.dotplot.plugin.menu1">
            <separator
               name="Plot">
            </separator>
         </menu>
         <action
            label="&amp;Plot!"
            icon="icons/dp_v0_73.gif"
            tooltip="Build DotPlot of selected file(s)"
            class="org.dotplot.eclipse.actions.PlotAction"
            menubarPath="org.dotplot.plugin.menu1/Plot"
            toolbarPath="org.dotplot.plugin.action1"
            id="org.dotplot.plugin.action1">
         </action>
         <action
            label="&amp;Configure DotPlot"
            class="org.dotplot.eclipse.actions.ConfigAction"
            menubarPath="org.dotplot.plugin.menu1/Plot"
            id="org.dotplot.plugin.action2">
         </action>
         <action
            label="Create &amp;Job"
            icon="icons/dp_v0_73.gif"
            tooltip="Create a PlotJob for distribution"
            class="org.dotplot.eclipse.actions.PlotJobAction"
            menubarPath="org.dotplot.plugin.menu1/Plot"
            toolbarPath="org.dotplot.plugin.action3"
            id="org.dotplot.plugin.action3">
         </action>
      </actionSet>
   </extension>

   <extension
      point="org.eclipse.ui.preferencePages">
      <page
         name="DotPlot"
         class="org.dotplot.eclipse.preferences.DotPlotPreferencePage"
         id="org.dotplot.preferences.Dotplot">
      </page>
      <page
            category="org.dotplot.preferences.Dotplot"
            class="org.dotplot.eclipse.preferences.PluginOverviewPage"
            id="org.dotplot.preferences.Dotplot.Plugins"
            name="Plugins">
       </page>
   </extension>

   <extension
         point="org.eclipse.help.toc">
      <toc
         file="toc.xml"
         primary="true">
      </toc>
      <toc
         file="tocconcepts.xml">
      </toc>
      <toc
         file="tocgettingstarted.xml">
      </toc>
      <toc
         file="tocreference.xml">
      </toc>
      <toc
         file="tocsamples.xml">
      </toc>
      <toc
         file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.dotplot.eclipse.DotplotPreferenceInitializer"/>
   </extension>

</plugin>
